/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #f0feff;
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-size: 3.5rem;
  color: #5c6370;
  font-family: "Open Sans:700", sans-serif;
  text-transform: capitalize;
}
h2 {
  font-size: 2.5rem;
  padding-bottom: 10px;
  font-family: "Open Sans:600", sans-serif;
  text-transform: capitalize;
  color: #737c8c;
}
h3 {
  font-size: 1.8rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
a {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: capitalize;
}
button {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding-top: 130px;
}
@media (max-width: 500px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
}
.navigation {
  width: 100%;
  height: 10rem;
  position: fixed;
  z-index: 3;
  background: #f0feff;
}
.navigation .navbar {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.navigation .navbar .logo {
  width: 35%;
  text-align: center;
}
.navigation .navbar .logo img {
  width: 20rem;
}
.navigation .navbar .nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  width: 50%;
  position: relative;
}
@media (max-width: 500px) {
  .navigation .navbar .nav-links {
    height: 400px;
    width: -300px;
    position: fixed;
    z-index: 1;
    top: 90px;
    right: -300px;
    background-color: #f0feff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}
.navigation .navbar .nav-links a {
  color: #aaa6fc;
}
@media (max-width: 500px) {
  .navigation .navbar .nav-links a {
    padding: 8px 8px 32px 32px;
    text-decoration: none;
    font-size: 1.8rem;
    transition: 0.3s;
  }
}
.navigation .navbar .nav-links .link-active {
  font-weight: bold;
}
.navigation .navbar .show {
  right: 0;
}
.nav-icon {
  margin: 1em;
  width: 4rem;
  display: none;
}
@media (max-width: 500px) {
  .nav-icon {
    display: block;
  }
}
.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: #aaa6fc;
  border-radius: 3px;
  content: "";
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all 0.3s ease-in-out;
}
.change.nav-icon:before {
  transform: translateY(12px) rotate(135deg);
}
.change.nav-icon:after {
  transform: translateY(-12px) rotate(-135deg);
}
.change.nav-icon div {
  transform: scale(0);
}
.get-started {
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0px 31px 49px 1px rgba(199, 203, 209, 0.87);
  -moz-box-shadow: 0px 31px 49px 1px rgba(199, 203, 209, 0.87);
  box-shadow: 0px 31px 49px 1px rgba(199, 203, 209, 0.87);
}
.get-started h1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  z-index: 1;
}
@media (max-width: 500px) {
  .get-started h1 {
    font-size: 3rem;
  }
}
.get-started .successImage {
  width: 50%;
  height: 100%;
  position: relative;
}
@media (max-width: 500px) {
  .get-started .successImage {
    width: 100%;
  }
}
.get-started .successImage p {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: #8f96a3;
  font-size: 1.2rem;
}
.get-started .successImage .login-button {
  height: 4rem;
  width: 14rem;
  background: #ac73ff;
  color: #ffffff;
  outline: none;
  border: 1px solid #ac73ff;
  margin-top: 30px;
  position: absolute;
  left: 35%;
  font-size: 2rem;
  bottom: 10%;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 10px #4d0f612b;
  font-size: 700;
  display: none;
}
@media (max-width: 500px) {
  .get-started .successImage .login-button {
    display: block;
  }
}
.loginForm {
  width: 50%;
  position: relative;
  background: #ffffff;
}
@media (max-width: 500px) {
  .loginForm {
    display: none;
  }
}
.loginForm .form {
  height: 88%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}
.loginForm .form .input-group {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 2rem;
}
.loginForm .form .input-group label {
  display: block;
  color: #aaa6fc;
  font-family: "Open Sans:700", sans-serif;
  font-size: 1.6rem;
}
.loginForm .form .input-group label[for="email"] {
  padding-bottom: 3rem;
}
.loginForm .form .input-group label[for="password"] {
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.loginForm .form .input-group input {
  border: 0;
  border-bottom: 2px solid #aaa6fc;
}
.loginForm .login-button {
  height: 3.5rem;
  width: 11rem;
  background: #aaa6fc;
  color: #ffffff;
  outline: none;
  border: 1px solid #aaa6fc;
  margin-top: 30px;
}
.loginForm .login-button:hover {
  background: #ac73ff;
  border: 1px solid #ac73ff;
}
.signup-link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.signup-link p:first-child {
  padding-right: 20px;
  color: #8f96a3;
  font-size: 1.2rem;
}
.signup-link p:nth-child(2) {
  display: flex;
  padding-right: 20px;
}
.signup-link p:nth-child(2) a {
  color: #aaa6fc;
  border-bottom: 2px solid #8f96a3;
  padding-right: 10px;
  padding-left: 10px;
}
.signup-link p:nth-child(2) img {
  width: 35px;
  height: 35px;
  position: absolute;
  right: -26px;
}
.learn-more {
  height: 90px;
  margin-top: 10rem;
  color: #aaa6fc;
}
.learn-more img {
  width: 3.5rem;
  margin-left: 2.5rem;
  padding-top: 1rem;
}
.service-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 7%;
  margin-bottom: 10%;
  -webkit-box-shadow: 0px 31px 49px 1px rgba(199, 203, 209, 0.87);
  -moz-box-shadow: 0px 31px 49px 1px rgba(199, 203, 209, 0.87);
  box-shadow: 0px 31px 49px 1px rgba(199, 203, 209, 0.87);
}
@media (max-width: 500px) {
  .service-content {
    display: block;
  }
}
.service-content .text-content {
  width: 50%;
  background: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
@media (max-width: 500px) {
  .service-content .text-content {
    width: 100%;
    padding: 30px;
  }
}
.service-content .text-content h2 {
  padding-top: 30px;
}
@media (max-width: 500px) {
  .service-content .text-content h2 {
    padding-bottom: 10px;
  }
}
.service-content .text-content img {
  width: 50px;
  padding-top: 60px;
}
@media (max-width: 500px) {
  .service-content .text-content img {
    padding-top: 0px;
  }
}
.service-content .text-content p {
  text-align: left;
  letter-spacing: 1px;
  padding-top: 90px;
  color: #737c8c;
}
@media (max-width: 500px) {
  .service-content .text-content p {
    padding-top: 2rem;
    padding-left: 2rem;
  }
}
.service-content .img-icon {
  width: 50%;
}
@media (max-width: 500px) {
  .service-content .img-icon {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .track {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column-reverse;
  }
}
.bottom-content {
  max-width: 100%;
  margin: 0 auto;
  width: 90%;
}
@media (max-width: 500px) {
  .bottom-content {
    width: 100%;
  }
}
.bottom-content .bottom-link {
  position: relative;
  max-width: 104rem;
  margin: 0 auto;
}
.bottom-content .bottom-link p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.bottom-content .bottom-link p a {
  padding-right: 1.5rem;
  color: #aaa6fc;
  border-bottom: 2px solid #8f96a3;
  padding-left: 10px;
}
.bottom-content .bottom-link p img {
  width: 35px;
  margin-left: 1rem;
}
.bottom-content .top {
  padding-top: 3rem;
  padding-left: 12.9rem;
  color: #aaa6fc;
}
@media (max-width: 500px) {
  .bottom-content .top {
    width: 90%;
    margin: 0 auto;
    padding-left: 0px;
  }
}
.bottom-content .top .arrow-up {
  align-self: flex-start;
  width: 3rem;
  transform: rotate(180deg);
  padding-top: 1rem;
}
.bottom-content .top p {
  font-size: bold;
}
.footer {
  background: #f1f0ff;
  width: 100%;
  height: 20.7rem;
}
.footer .footer-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 500px) {
  .footer .footer-container {
    width: 90%;
  }
}
.footer .footer-container .logo {
  padding-left: 4.9rem;
}
@media (max-width: 500px) {
  .footer .footer-container .logo {
    padding-left: 0px;
  }
}
.footer .footer-container .logo img {
  padding-top: 40px;
  width: 20rem;
}
.footer .footer-container .social-media {
  padding-top: 20px;
  display: inline;
  padding-left: 4.9rem;
}
@media (max-width: 500px) {
  .footer .footer-container .social-media {
    padding-left: 0px;
  }
}
.footer .footer-container .social-media img {
  width: 40px;
  padding: 10px;
}
.footer .footer-container p {
  color: #8f96a3;
  align-self: flex-end;
}
