.get-started {
  display: flex;
  position: relative;
  width: 100%;
  .box-shadow();

  h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    z-index: 1;

    @media @mobile {
      font-size: 3rem;
    }
  }
  .successImage {
    width: 50%;
    height: 100%;
    position: relative;

    @media @mobile {
      width: 100%;
    }

    p {
      position: absolute;
      bottom: 8px;
      left: 16px;
      color: @small-text-grey;
      font-size: 1.2rem;
    }

    .login-button {
      height: 4rem;
      width: 14rem;
      background: @button-hover;
      color: @white;
      outline: none;
      border: 1px solid @button-hover;
      margin-top: 30px;
      position: absolute;
      left: 35%;
      font-size: 2rem;
      bottom: 10%;
      border-radius: 5px;
      box-shadow: 0px 0px 20px 10px #4d0f612b;
      font-size: 700;
      display: none;

      @media @mobile {
        display: block;
      }
    }
  }
}

.loginForm {
  width: 50%;
  position: relative;
  background: @white;

  @media @mobile {
    display: none;
  }

  .form {
    height: 88%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    
    h3{
      padding: 3rem;
      color: @darkgray;
      text-align: center;
      line-height: 1.5;

      span {
        font-size: 700;
        color: @magenta;
      }
    }
  }
  .login-button {
    height: 3.5rem;
    width: 11rem;
    background: @button-default;
    color: @white;
    outline: none;
    border: 1px solid @button-default;
    margin-top: 30px;
    transition: all 300ms ease-in-out;
    

   // .login-button(3.5rem, 11rem, @button-default, @button-default);

    &:hover {
      background: @button-hover;
      border: 1px solid @button-hover;
      transform: scale(1.2);
    }
  }
}

.signup-link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
 

  p:first-child {
    padding-right: 20px;
    color: @small-text-grey;
    font-size: 1.2rem;
  }
  p:nth-child(2) {
    display: flex;
    padding-right: 20px;
    

    a {
      color: @label-color;
      border-bottom: 2px solid @small-text-grey;
      padding-right: 10px;
      padding-left: 10px;
      transition: all 300ms ease-in-out;

      &:hover {
        color: @button-hover;
        transform: scale(1.2);
      }
    }

    img {
      width: 35px;
      height: 35px;
      position: absolute;
      right: -26px;
    }
  }
}
